
.music-control {
  position: fixed;
  bottom: 20px;
  right: 1vw;
  z-index: 2000;
  transition: opacity 0.3s ease;
  opacity: 0.3;
  margin-top: 88vh;
}

.music-control.visible {
  opacity: 1;
}

.music-control button {
  background: rgb(68, 68, 68);
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: all 0.3s ease;
}

.music-control button:hover {
  background: rgba(250, 72, 2, 0.76);
}

/* Mobile */
@media (max-width: 768px) {
  .music-control {
    opacity: 1; /* Sempre visível em mobile */
    bottom: 70px; /* Acima do footer */
    right: 10px;
  }
  
  .music-control button {
    padding: 6px 12px;
    font-size: 12px;
  }
}
